﻿@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <!-- For reasons I cannot explain this causes the system to crash. Browser console for the BS js just claims "The list of component records is not valid."
        More weirdly it can still correctly pick up a session. It's passing it as a parameter that causes it to die. I suppose I'm passing it incorrectly somehow.
    <component type="typeof(App)" render-mode="ServerPrerendered" param-AppSessionData="@(new Data.AppSessionData(HttpContext.Session.Id))" />
        -->
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            ation may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>
</html>


