﻿@page "/Child"

<!-- Child Component -->

<button @onclick="@(() => OnClick.InvokeAsync("Hello from ChildComponent"))">Click me</button>

@code {

   [Parameter] public EventCallback<string> OnClick { get; set; }

}