 @page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<table>
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
</table>

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 3;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
