﻿@page "/datatabletestpage"

@using BlazorStyled
@using BlazorStrap

@inject IStyled Styled 

<Styled @bind-Classname="@headerCss">
    color: red;
</Styled>

<h3 class="@headerCss">Data Table Test Page</h3>

<Styled @bind-Classname="@paragraphCss">
    color: blue;
</Styled>

<p class="@paragraphCss">This is a paragraph</p>

<Styled @bind-Classname="@table1Css">
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
</Styled>

<Styled @bind-Classname="@table1HeaderCss">
    border: 1px solid black;
</Styled>

<Styled @bind-Classname="@table1RowCss">
    border: 1px solid black;
</Styled>

<table class="@table1Css" Items="dataItems" Context="dataItem">
    <tr>
        <th class="@table1HeaderCss"></th>
        <th class="@table1HeaderCss">UoM</th>
        <th class="@table1HeaderCss">1</th>
        <th class="@table1HeaderCss">2</th>
        <th class="@table1HeaderCss">3</th>
    </tr>

    @foreach (var dataItem in dataItems)
    {
<tr @key="dataItem">
    <td class="@table1RowCss">@dataItem.Name</td>
    <td class="@table1RowCss">@dataItem.UoM</td>
    <td class="@table1RowCss">@dataItem.Number1</td>
    <td class="@table1RowCss">@dataItem.Number2</td>
    <td class="@table1RowCss">@dataItem.Number3</td>
</tr>
    }
</table>

<br />

<Styled @bind-Classname="@table2HeaderCss">
    border: 1px solid #CECECE;
    background: "#ABABAB";
    text-align: center;
</Styled>

<Styled @bind-Classname="@table2RowCss">
    border: 1px solid #CECECE;
    background: "#ABABAB";
    text-align: center;
</Styled>

<BSTable class="@table2Css" Items="dataItems" Context="dataItem" IsResponsive="true" IsStriped="true">
    <thead>
        <tr>
            <th class="@table2HeaderCss" scope="col"></th>
            <th class="@table2HeaderCss" scope="col">UoM</th>
            <th class="@table2HeaderCss" scope="col">1</th>
            <th class="@table2HeaderCss" scope="col">2</th>
            <th class="@table2HeaderCss" scope="col">3</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dataItem in dataItems)
        {
        <tr @key="dataItem">
            <td class="@table2RowCss">@dataItem.Name</td>
            <td class="@table2RowCss">@dataItem.UoM</td>
            <td class="@table2RowCss"><input type="text" @bind=@dataItem.Number1 /></td>
            <td class="@table2RowCss"><input type="text" @bind=@dataItem.Number2 /></td>
            <td class="@table2RowCss"><input type="text" @bind=@dataItem.Number3 /></td>
        </tr>
        }
    </tbody>
</BSTable>