 @page "/editablerow"
@using BlazorApp.Data

<tr>
    <td>@FirstName</td>
    <td>@LastName</td>
    <td><input type="number" @bind=@Salary /></td>
</tr>

@code {
        [Parameter]
        public Employee Employee { get => employee; set { employee = value; } }
        [Parameter]
        public string FirstName { get => employee.FirstName; set { employee.FirstName = value; }  }
        [Parameter]
        public string LastName { get => employee.LastName; set { employee.LastName = value; } }
        [Parameter]
        public float Salary { get => employee.Salary; set { employee.Salary = value; } }

    private string firstName;
    private string lastName;
    private float salary;
    private Employee employee;

}
