﻿@page "/editabletabletest"

@using Radzen
@using Radzen.Blazor
@using BlazorStrap
@using BlazorApp.Data
@using BlazorApp.Pages
@inject EmployeeService Employes

<h3>Sam Table Test Page</h3>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BSTable IsStriped="true" IsBordered="true">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <EditableRow Employee="@employee" /> 
            }
        </tbody>
    </BSTable>
}

@code {
    private Employee[] employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployesAsync();
    }
}
