﻿@page "/page1"
@inject Services.AppData AppData

<h2>Page1</h2>
<br /><br />
<h4>Communication between pages 1</h4>
<br />
<input type="number" @bind="AppData.Age" />
<br />
<a href="/page2">Go to Page 2</a>
<br /><br />
<h4>Communication between pages 2</h4>
<InputComponent />
<DisplayComponent />
<br /><br />


@code {
   string message = "Hello from ParentComponent";
   void ClickHandler( string newMessage )
   {
      message = newMessage;
   }

   protected override void OnInitialized()
   {
      AppData.OnChange += MyEventHandler;
   }

   private void MyEventHandler()
   {
      Console.WriteLine("AppData changed.");
   }

}


