﻿@page "/page2"
@inject Services.AppData AppData

<h3>Page2</h3>

<p>You entered the number @AppData.Age.</p>
<br /><br />

<div style="width:640px; height:480px; background-color:@AppData.Color">
   <p>You entered the number @AppData.Number.</p>
</div>

@code {
   protected override void OnInitialized()
   {
      AppData.OnChange += StateHasChanged;
   }
}