﻿
<ChildTest OnClick="ClickHandler"></ChildTest>
<p>@message</p>
<br />
<br />

@code {
   string message = "Hello from ParentComponent";
   void ClickHandler( string newMessage )
   {
      message = newMessage;
   }
}
