﻿@page "/posttesting"

@using BlazorStrap



<p>
    This page tests whether or not BSInput objects automatically post changes to the server. <br />
    As an important note, this page (and others like it on the demo) are not actually "pages" so to speak. <br />
    They're actually razor COMPONENTS which means some features (such as and possibly exclusively taghelpers) are unavailable to us unless we make them ourselves.
</p>

<BSTable>
    <tr class="table_header">
        <th>Session ID</th>
        <th>AuthState (blank means no identity name)</th>
        <th>TestWord</th>
    </tr> 
    <tr>
        <td>Unimplemented</td>
        <td>@_myAuth.User.Identity.Name</td>
        <td>@_formModel.Word</td>
    </tr>
</BSTable>
<BSForm Model="@_formModel" OnSubmit="@(() => Console.WriteLine("[INFO] PostTesting : Form Post Recieved") )">
    <BSInput Id="testFormWord" InputType="InputType.Text" PlaceHolder="@_formModel.Word" @bind-Value="_formModel.Word" />
    <BSButton Color="Color.Primary" ButtonType="BlazorStrap.ButtonType.Submit">Submit</BSButton>
</BSForm>
