﻿@using System;
@using System.Runtime.InteropServices;

<div class="top-row pl-4 navbar navbar-dark">
   <a class="navbar-brand" href="">BlazorApp</a>
   <button class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
   </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
   <ul class="nav flex-column">
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="todo">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="datatabletestpage">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Data Table
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="page1">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Page 1
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="page2">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Page 2
         </NavLink>
      </li>
      <li class="nav-item px-3">
         <NavLink class="nav-link" href="compcomm">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Component Communication
         </NavLink>
      </li>
               <li class="nav-item px-3">
            <NavLink class="nav-link" href="editabletabletest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> New Table
            </NavLink>
        </li>
   </ul>
</div>

      @code {
         private bool collapseNavMenu = true;

         private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

         private bool expandSubNav = true;

         private void ToggleNavMenu()
         {
            collapseNavMenu = !collapseNavMenu;
         }
      }
